@font-face
  font-family: 'Barcelona-Graffiti-Bombing'
  src: url('/Users/varvaratihonova/WebstormProjects/retired&fly/public/fonts/Barcelona-Graffiti-Bombing.otf') format('truetype')

@font-face
  font-family: 'Arial Bold'
  src: url('/Users/varvaratihonova/WebstormProjects/retired&fly/public/fonts/Arial Bold.ttf') format('truetype')


.container_hello
  width: 1512px
  height: 835px
  background-color: #AEAEB3
  display: flex
  position: relative

.text
  margin-right: 700px
  margin-top: 30px
  width: 1490px
  height: 780px

.grandma
  height: 723px
  width: auto
  position: absolute
  z-index: 0
  bottom: 0
  left: 650px

.folders
  position: absolute
  z-index: 1

.folderBlue
  width: 80px
  height: 70px
  margin-left: 1270px
  margin-top: 20px

.folder_photo
  width: 75px
  height: 75px
  margin-left: 7px

.folder_text
  width: 93px
  height: 13px
  margin-bottom: 20px

.folderDarkPink
  width: 80px
  height: 70px
  margin-left: 1170px
  margin-top: 70px

.folder_photo_darkPink
  width: 75px
  height: 75px

.folder_text_darkPink
  width: 29px
  height: 10px
  margin-bottom: 20px
  margin-left: 21px

.folderPink
  width: 80px
  height: 70px
  margin-left: 350px
  margin-top: 500px

.folder_photo_pink
  width: 75px
  height: 75px
  margin-left: 10px


.folder_text_pink
  width: 93px
  height: 13px
  margin-bottom: 20px
