.newCollactions_container
  width: 1512px
  height: 1045px

.rectan
  position: absolute
  width: 1440px
  height: 940px
  top: 920px
  left: 34px
  background: rgba(84, 111, 151, 0.41)
  filter: blur(13px)
  display: block
  margin-left: auto
  margin-right: auto
  z-index: 0

.new_coll_high
  font-size: 30px
  line-height: 1.5em
  text-align: center
  z-index: 1
  position: absolute
  margin-top: 58px
  margin-left: 47px

.new_coll_low
  font-size: 30px
  line-height: 1.5em
  text-align: center
  z-index: 1
  position: absolute
  margin-top: 948px
  margin-left: 47px

.regular
  font-family: Arial, sans-serif
  font-weight: 400

.bold
  font-family: Arial, sans-serif
  font-weight: 700

//.eyes
//  z-index: 1
//  position: absolute

.eye1
  width: 420px
  margin-left: 80px
  margin-top: 120px
  z-index: 2
  position: absolute

.eye2
  width: 640px
  margin-right: 1100px
  margin-top: 420px
  z-index: 2
  position: absolute

.eye3
  width: 350px
  margin-left: 540px
  margin-top: 120px
  z-index: 2
  position: absolute

.eye4
  width: 230px
  margin-left: 940px
  margin-top: 150px
  z-index: 2
  position: absolute

.eye5
  width: 900px
  margin-left: 380px
  margin-top: 250px
  z-index: 2
  position: absolute

.people1
  width: 620px
  margin-left: 860px
  margin-top: 200px
  z-index: 3
  position: absolute

.people2
  width: 180px
  margin-left: 680px
  margin-top: 400px
  z-index: 3
  position: absolute

.people3
  width: 370px
  margin-left: 400px
  margin-top: 590px
  z-index: 4
  position: absolute

.people4
  width: 160px
  margin-left: 360px
  margin-top: 420px
  z-index: 3
  position: absolute

.people5
  width: 130px
  margin-left: 260px
  margin-top: 270px
  z-index: 4
  position: absolute

.people6
  width: 220px
  margin-left: 340px
  margin-top: 150px
  z-index: 2
  position: absolute

.number
  font-family: Arial, sans-serif
  font-weight: 800
  font-size: 30px
  color: white


.number1
  margin-left: 1200px
  margin-top: 200px
  z-index: 2
  position: absolute

.number2
  margin-left: 674px
  margin-top: 420px
  z-index: 2
  position: absolute

.number3
  margin-left: 340px
  margin-top: 913px
  z-index: 2
  position: absolute

.number4
  margin-left: 500px
  margin-top: 540px
  z-index: 2
  position: absolute

.number5
  margin-left: 200px
  margin-top: 420px
  z-index: 2
  position: absolute

.number6
  margin-left: 504px
  margin-top: 190px
  z-index: 2
  position: absolute
